#header {
    width: 80%;
    text-align:center;
    margin-left: 10%;
    margin-right: 10%;
}

#weathercard {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    margin-top: 20px;
}

#future-weather {
    width: 60%;
    text-align: center;
    margin : 20px;
}