#header {
    width: 80%;
    text-align:center;
    margin-left: 10%;
    margin-right: 10%;
}

#weathercard {
    width: 80%;
    text-align:center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    float: right;
    align-content: center;
}

#future-weather {
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    align-content: center;
}

.card-img {
    height: 200px;
    width: 200px;
    align-items: center;
}

